<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}

    <h2>{{.AcaYear}}</h2>
    <h3>Fall<h3>
    {{range .Fall.Courses}}
        <p>{{.Number}} {{.Name}} {{.Units}}</p>
    {{end}}

    <h3>Spring<h3>
    {{range .Spring.Courses}}
        <p>{{.Number}} {{.Name}} {{.Units}}</p>
    {{end}}

{{end}}

</body>
</html>