<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<h1>Menu</h1>
<h3>Breakfast</h3>
{{range .BreakfastItems}}
    {{.}}<br>
{{end}}

<br />

<h3>Lunch</h3>
{{range .LunchItems}}
    {{.}}<br>
{{end}}

<br />

<h3>Dinner</h3>
{{range .DinnerItems}}
    {{.}}<br>
{{end}}

<br />

</body>
</html>